/doc/
/libs/
/lib/
/bin/
/.shards/
.idea
.vscode
jennifer.code-workspace
/spec/fixtures/*.db
sam.cr

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock
/examples/structure.sql
/examples/test.cr
/examples/test.db
/examples/database.yml
/examples/models
